/* Default */
body {
    width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
	line-height: 1.5;
	letter-spacing: 0.05em;
	font-size: 16px;
	background-color: #50736e;
	color: #d8dee9;
    box-sizing: border-box;
}

.noto-serif display-<uniquifier> {
    font-family: "Noto Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


h1,h2,h3,p,ol,ul,li,a {
	font-family: "Poppins", sans-serif;
}
h1,h2,h3 {
	font-family: "Poppins", sans-serif;
	color: #EDEDED;
}
h2 {
	font-family: "Poppins", sans-serif;
	font-size: 1.3em;
}
a {
	font-weight: bold;
	color: #EDEDED;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    text-decoration: none;
}
a:hover {
	color: #848b95;
}

.gallery-element a:hover {
    color: #ededed;
    text-decoration: underline;
}

code, pre {
	background-color: #22262a;
	color: #EDEDED;
	border-radius: 4px;
	padding: 0 0.25em;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

img {
	width: 100%;
	height: auto;
}

div {
    display: block;
}

.btn {
    font-weight: 500;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    transition: color .25s ease, .25s ease;
    font-family: "Poppins", sans-serif;
    text-transform: lowercase;
    letter-spacing: 1.2px;
    font-size: 14px;
    line-height: 1.5;
    background-color: rgb(60, 16, 206);
    border: 1px solid white;
    border-radius: 40px;
}

.personalized-subSection .btn {
    font-family: "Poppins", sans-serif;
    text-transform: lowercase;
    letter-spacing: 1.2px;
    font-size: 14px;
    line-height: 1.5;
    background-color: rgb(60, 16, 206);
    border: 1px solid white;
    border-radius: 40px;
}

.btn:hover {
	background-color: white;
    color: black; 
}

.personalized-subSection .btn:hover {
    background-color: white;
    border: 1px solid white;
    border-radius: 40px;
    color:rgb(60, 16, 206);

}

.input {
    font-family: Futura PT,Arial,sans-serif;
    font-size: 12px;
    letter-spacing: 1.44px;
    font-weight: 500;
    line-height: 1.85;
    background: #fff;
    color: #010101;
    border: 1px solid black;
    display: inline-flex;
    justify-content: left;
    align-items: left;
    padding: 16px 32px 16px 32px;
    width: 300px;
    transition: color .25s ease, .25s ease;
    text-transform: uppercase;
}

.personalized-subSection .input {
    font-family: Poppins, sans-serif;
    text-transform: lowercase;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 40px;
    margin-right: .5rem;
}

.email-entry {
    padding: 0;
    margin: 0;
    gap: 0;
}

.h1-content-area__title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: normal;
    font-family: Noto Serif Display;
    text-transform: none;
    font-weight: 400;
    margin-top: 0;
}

.personalized-subSection .h1-content-area__title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: normal;
    font-family: Poppins, sans-serif;
    text-transform: none;
    font-weight: 400;
    margin-top: 0;
}

.personalized-subSection .h1-content-area__title span {
    background-color:rgb(231, 170, 0);
    padding: 0px 8px;
}

.h2-gallery {
    font-family: Futura PT,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 1.44px;
    font-weight: 700;
    line-height: 1.85;
    text-transform: uppercase;
    margin-bottom: 0;
}

.personalized-subSection .h2-gallery {
    font-size: 20px;
    color: white;
}

.organism-wrapper h2 {
    font-family: Futura PT,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 1.44px;
    font-weight: 700;
    line-height: 1.85;
    text-transform: uppercase;
    margin-bottom: 0;
    color: black;
}

.organism-wrapper p {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0px;
    color: black;
}

.organism-wrapper .description {
    color: gray;
}

.email-footer .description a {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0px;
    color: gray;
    text-decoration: underline;
}

.gallery-element {
    background-size: cover;
    width: 300px;
    height: 400px;
    padding: 5 rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personalized-subSection .gallery-element {
    width: 300px;
    height: 300px;
}

#img-1 {
    background-image: url("../img/GradGift.jpeg");
    opacity: 0.7;
    transition: opacity .5s ease, .5s ease;
}

#img-2 {
    background-image: url("../img/LubDub.jpeg");
    opacity: 0.7;
    transition: opacity .5s ease, .5s ease;
}

#img-3 {
    background-image: url("../img/HeartRings.jpeg");
    opacity: 0.7;
    transition: opacity .5s ease, .5s ease;
}

.personalized-subSection #img-1 {
    background-image: url("../img/widgets-collage.jpeg");
    border-radius: 40px;
    opacity: .5;
}

.personalized-subSection #img-1 a:hover {
    text-decoration: none;
    background-color: rgb(60, 16, 206);
    opacity: 1;
    padding: 1rem;
    border-radius: 20px;
}

.gallery-element:hover {
    opacity: 1.0;
}

.shopping-img-div {
    width: 10%;
}

#img-2:hover {
    opacity: 1.0;
}

#img-1:hover {
    opacity: 1.0;
}

#img-3:hover {
    opacity: 1.0;
}

.shopping-img-div {
    display: block;
}

.description {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
}

.personalized-subSection .description {
    font-family: Poppins, sans-serif;
    color: rgb(152, 163, 255);
}

.personalized-subSection img {
    border-radius: 30px;;
}

.personalized-subSection .mobile-search .fa-magnifying-glass {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.personalized-subSection .fa-star {
    border: 1px solid transparent;
    background-color: rgb(255, 221, 0);
    color: #13172b;
    padding: 10px;
    border-radius: 20px;
}

.custom-select {
    position: relative;
    cursor: pointer;
    background: #f6f6f6;
    background-image: url(//vcoterie.com/cdn/shop/t/113/assets/icon-chevron.svg?v=31022842345918683781704363347);
    background-size: 16px 16px;
    background-position: right 16px center;
    background-repeat: no-repeat;
    z-index: 1;
    text-align: left;
}

section.main {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.link-cta {
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding-bottom: 2px;
    font-weight: 100;
    letter-spacing: 1.44px;
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
}

.personalized-subSection .link-cta {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1.5;
    padding-bottom: 1px;
    border-color: rgb(255, 221, 0);
}


.subSection {
	background-color: #605ba8;
    padding: 1rem;
    margin-top: 2rem;
}

.personalized-subSection {
	background-color: #13172b;
    padding: 1rem 3rem;
    margin-top: 2rem;
}


p.copyright {
	margin: 0 auto;
	margin-bottom: 0.5em;
    text-align: center;
    color: #333333;
}

.shop-img {
    max-width: 500px;
}

.shopping-image-div {
    position: relative;
    background-size: cover;
    justify-content: right;
    align-items: left;

    max-width: 400px;
}

.shopping-image-div img {
    display: block;
}

.shopping-image-div span {
    position: absolute;
    top: 3rem;
    right: 3rem;
}

.personalized-subSection .shopping-image-div span {
    position: absolute;
    top: 2rem;
    right: 3.5rem;
}

.fa-regular .fa-heart {
    color: black;
    font-size: 36px;
}

form.search-form {
    display: block;
    margin-top: 0em;
    outline: none;
    position: relative;

    box-sizing: border-box;
    color: gray;
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-top: 0px;
    outline-style: none;
    outline-width: 0px;
    position: relative;
    text-align: left;
    text-rendering: optimizespeed;
    width: auto;
    -webkit-font-smoothing: antialiased;
}

form.search-form input {
    font-family: Futura PT,Arial,sans-serif;
    font-size: 12px;
    letter-spacing: 1.44px;
    font-weight: 500;
    line-height: 1.85;
    background: #fff;
    color: #010101;
    border: 0px solid black;
    border-bottom: 1px solid black;
    display: inline-flex;
    justify-content: left;
    align-items: left;
    padding: 16px 32px 16px 40px;
    width: 300px;
    transition: color .25s ease, .25s ease;
    text-transform: uppercase;
}

.personalized-subSection form.search-form input {
    border: 0px solid transparent;
    border-radius: 40px;
}

#searchInput {
    font-family: Futura PT, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    height: auto;
    letter-spacing: 1.44px;
    line-height: 0px;
    outline: none;
    outline-style: none;
    outline-width: 0px;
}

.personalized-subSection #searchInput {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-transform: lowercase;
    letter-spacing: .75;
}

.searchIcon {
    position: absolute;
    left: 14px;
    top: 14px;
}

.shop-gallery {
    display: flex;
    background: white;
    padding: 0rem 1rem;
    margin: 0;
}

.shop-gallery .shopping-image-div {
    width: auto;
    margin: 0rem .25rem;
}

.shop-gallery .shopping-image-div a {
    text-align: center;
}

.shop-gallery .shopping-image-div img {
    display: block;
}

.shop-gallery .shopping-image-div span {
    position: absolute;
    top: .5rem;
    right: 1rem;
}

.shop-gallery h2 {
    font-family: Futura PT, Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    height: auto;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
    color: black;
    margin-top: 1rem;
}

.shop-gallery p {
    font-family: Futura PT, Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    height: auto;
    letter-spacing: 1px;
    line-height: 10px;
    color: gray;
}

.shop-gallery-title {
    background: white;
    margin: 0;
    align-items: center;
}

.shop-gallery-title h2 {
    color: black;
    text-align: center;
    font-weight: 100;
    
}

.shop-gallery-title h1 {
    color: black;
    text-align: center;
    line-height: 24px;
}

.organism-wrapper {
    background: white;
    padding: 2rem 0rem;
}

.logos {
    display: flex;
    margin: 2rem 0.5rem;
}

.logos img {
    height: 15px;
    opacity: 50%;
    margin: 0rem 1rem;
}

.footer-block {
    display: flex;
}

.footer-block .input {
    width: 150px;
    padding-left: 1rem;
}


/* Breakpoint */
@media screen and (max-width: 700px) {
	section.main {
		margin: 5rem 2rem;
	}
}